<div class="landing">
    <div class="dark-overlay">
      <div class="landing-inner">
          <div class="col-md-12 text-center">
						<img src='../../assets/logo.png' width="200" height="150" class="logo" alt="">
            <h1 class="display-3 mb-4">BookHub App
            </h1>
            <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus eligendi odit maxime nam totam rerum delectus, libero rem velit aperiam quod necessitatibus. Iste suscipit fugit repellendus nisi corrupti fuga, possimus.</p>
            <hr />
            <a href="/register" class="btn btn-outline-info mr-2">Sign Up</a>
            <a href="/login" class="btn btn-outline-secondary">Login</a>
          </div>
      </div>
    </div>
  </div>
	<br><br>
